.title {
  text-align: left;
  display: block;
  padding: 1rem;
}

.subTitle {
  text-align: left;
  display: block;
  font-size: 1.35rem;
  width: 98%;
  padding-left: 20px;
  margin: auto;
}

.subTitle h2 {
  font-weight: 400;
}

.containerText {
  width: 98%;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.containerText p {
  text-align: justify;
}

@media (min-width: 900px) {
  .subTitle {
    width: 70%;
  }
  .containerText {
    width: 70%;
  }
}
