.aBtn {
  color: #fff;
  background-color: #06c1ef;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 20px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
}
